.wrapper {
    display: flex;
    background-color: #c4cbe0;
}
.ul {
    display: block;
    p,h3 {font-size: 18px;
    list-style: none;}
    margin-left: 20px;
}
.li{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background: white;
    border-radius: 0 0.5rem 0.5rem 0.5rem;
    // @extend %boxshadow;
    // counter-increment: gradient-counter;
    margin-top: 2px;
  
    padding: 1rem 1rem 1rem 3rem;
    position: relative;
}
.img{
    height: 100%;
}